/* header styles */
.header-wrapper{
    background-image: url('../images/banner.jpg');
    /* max-width: 1366px; */
    width: 100%;
    height: 326px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapper{
    display: flex;
    align-items: center;
    
    
}
.header-wrapper::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    display: block;
    position: relative;
}
.logo{
    font-family: 'Poppins';
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 140px;
    top: 29px;
    z-index: 2;
    margin-bottom: 97px;
    
    
}
.ul{
    
    display: flex;
    justify-content: space-between;
    
    
}
.nav{
    position: absolute;
    right: 138px;
    top: 32px;
    width: 564px;
    z-index: 3;
    
    
}
.nav-li{
    font-family: 'Poppins semibold';
    font-size: 12px;
    color:#FFFFFF;
    text-transform: uppercase;
    
}




.header-text{
    position: absolute;
    top: 145px;
    left: 139px;
    z-index: 5;
    

}
.header-text2{
    display: flex;
    justify-content: space-between;
    width: 132px;
    align-items: baseline;    
}
.header-text-p1{
    font-family: 'Poppins extrabold';
    font-size: 42px;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.header-text-p3{
    font-family: 'Poppins Medium';
    font-size: 14px;
    color: #FFFFFF;
   
}
.header-text-p2{
    font-family: 'Poppins Medium';
    font-size: 14px;
    color: #FFFFFF;
    
    
}
.header-text-p3::before{
    content: '';
    width: 2px;
    height: 21px;
    background-color: white;
    display: inline-block;
    margin-right: 16.5px;
}
.divider{
    width:2px;
    height: 19px;
    background-color: white;
    
}
/* burger bar */
.burger-bar{
    color: white;
    position: absolute;
    z-index: 7;
    top: 32px;
    right: 50px;
    font-size: 20px;
    display: none;
}
/* map styles */
.map-wrapper{
    max-width: 1088px;
    width: 100%;
    max-height: 286px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 56px;
    
}
.map{
    width: 100%;
    height: 286px; 
}
/* section2 text styles */
.section2-wrapper{
    max-width: 1088px;
    width: 100%;
    margin:0 auto;
    
}
.section2-text-h3{
    font-family: 'Poppins';
    font-size: 14px;
    color: #5863F8;
    margin-bottom: 20px;
}
.section2-p{
    font-family: 'Poppins extrabold';
    width:378px;
    font-size: 42px;
    color: #000000;
    text-transform: capitalize;
    line-height: 56px;

}
.section2-text{
    margin-bottom: 50px;
}
/* forms styles */

.forms-wrapper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.right-inputs{
    display: flex;
    justify-content: space-between;
}
.right-forms{
    display: flex;
    flex-direction: column;
}
.area{
    resize: none;
    width: 720px;
    height: 288px;
    border: 2px solid #E8E8E8;
    background-color: #F8F8F8;
    margin-right: 16px;
    outline: none;
    border-radius: 5px;
}
.area::placeholder{
    color: #CECECE;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
}
.input{
    width: 352px;
    height: 60px;
    border: 2px solid #E8E8E8;
    background-color: #F8F8F8;
    outline: none;
    
    border-radius: 5px;
}
.input::placeholder{
    text-transform: capitalize;
    color:#CECECE;
    font-size: 13px;
}

.button{
    width: 352px;
    height: 60px;
    background-color: #5863F8;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
}

.input[type="text"],
.input[type="email"]{
    margin-bottom: 16px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
}

/* three  blocks */
.contact-blocks{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}
.three-blocks{
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-solid{
    color: #FFFFFF;
}
.all-blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h3{
    font-family: 'Poppins semibold';
    font-size: 18px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 5px;
    
}
.all-blocks p{
    color: #B1B1B1;
    font-size: 14px;
}
.p-margin{
    margin-bottom: 7px;
}
/* Second text */
.second-text-p{
    width: 565px;
    line-height: 56px;
}
/* images */
.images-wrapper{
    /* max-width: 1366px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* footer styles */
.footer-wrapper{
    background-color: #121212;
    
    width: 100%;
    height: 395px;
    padding-top: 90px;
    
}
.footer-block1{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-bottom: 54px;
}
.footer-block1 p, h3 {
    width: 260px;
    color: white;
    margin-bottom: 20px;
}
.footer-block1 h3{
    font-family: 'Poppins';
    font-size: 24px;
    
}
.footer-text-container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* social icons styles */
.fa-facebook{
    color: #3B5998;
    
}
.fa-twitter-square{
    color: #55ACEE;
    margin: 0 10.5px;
}
.fa-google-plus{
    color: #DC4E41;
}
.fa-brands{
    font-size: 35px;
}
.icons{
    margin-top: 20px;
}
.footer-block2 h3{
    font-family: 'Poppins semibold';
    font-size: 18px;

}
.li-list{
    font-family: 'Poppins Medium';
    color: #5863F8;
    font-size: 14px;
}
.li-list:nth-child(1),
.li-list:nth-child(2),
.li-list:nth-child(3){
    margin-bottom: 10px;
}
.li-list-contact{
    font-family: 'Poppins Medium';
    font-size: 14px;
    color: #FFFFFF;
}
.li-list-contact:nth-child(1),
.li-list-contact:nth-child(2){
    margin-bottom: 20px;
}


.footer-copyright, .www{
    font-family: 'Poppins Medium';
    font-size: 14px;
    color: white;

}
.footer-botoom-text{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

}